//colors
$color-primary : #F10909;
$color-transparent: transparent;
$color-text-primary: #FFFFFF;
$color-headers-primary: #101010;
$color-text-seconadry: #505050; 
$color-text-seconadry-light: #ccc;
$color-blog-item-background:#F9F9F9;

//small image size
$small-image-width: 23.125rem;
$small-image-height: 16.875rem;

//paddings
$padding-btn-top-bottmon: 0.875rem;
$padding-btn-top-left-right: 2.25rem;

$padding-nav-list-btn:0.875rem;

//transform: skew
$transform-skew-button: 160deg;

//fontsize
$font-size-button: 0.9375rem;
$font-size-header:0.875rem;
$font-size-body: $font-size-button - 0.1rem;

//card dimensions
$card-width: 22.5rem;
$card-height: 32rem;


$menu_item_width: 17.8125rem;