.header{
    @include column-flex();
    @include set-width-height(100%, 43.5rem);

    &__top{
        @include set-width-height(100%, auto);
        z-index: 2;
        padding-top: 3.5%;
        position: absolute;
        @include column-flex();
    }
}