.slider{
    @include set-width-height(100%, 100%);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;

    &__image{
        z-index: -1;
        @include set-width-height(100%, 100%);
        display: inline-block;
    }

    &__body{
        margin-top: 2rem;
        z-index: 1;
        @include set-width-height(80%, 100%);
        position: absolute; 
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        
    }

    &__button{
        @include block-color($color-primary, $color-text-primary);
        font-size: 3rem;
        padding: 0.15rem 0.7rem ;
        text-align: center;
        &:hover{
            background-color: #A70606;
        }
    }

    &__text{
        @include set-width-height(100%, 45%);
        @include column-flex(); 
        color: $color-text-primary;
        align-items: center;
    }

    &__title{
        display: inline-block;
        color:  $color-text-primary;
        font-size: 5rem;
        line-height: 5rem;
        font-weight: 300;
        &:hover{
            animation: title-bounce 0.3s ease-in-out 0s 2 alternate-reverse;
        }
    }

    &__sub-title{
        font-size: 3.75rem;
        line-height: 3.75rem;
        margin-bottom: 3.75rem;
    }

    &__mid-button{
        @include set-width-height(50%, auto);
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
    }
}