@keyframes title-bounce{
    from {transform: rotateY(0deg); }
    to { transform: rotateY(20deg);}
}

// @keyframes change-color{
//     from { color: $color-primary;}
//     to {color :$color-text-seconadry-light;}
// }